---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<BlogPost {...post.data}>
  <Content />
  <div id="disqus_thread"></div>
  <script define:vars={{ postId: post.id }}>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     **/

    var disqus_config = function () {
      this.page.url =
        "https://eleonoradrykina.github.io/shaders-research-blog/blog/";
      this.page.identifier = postId;
    };

    (function () {
      // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement("script");
      s.src = "https://elushha.disqus.com/embed.js";
      s.setAttribute("data-timestamp", (+new Date()).toString());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript
    >Please enable JavaScript to view the <a
      href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a
    ></noscript
  >
</BlogPost>
