---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Eleonora Drykina"
  pubDate={new Date("January 06 2025")}
  heroImage="/blog-about.jpg"
>
  <p>
    My name is Eleonora Drykina, I am a creative developer studying at <a
      href="https://www.devine.be/"
      target="_blank">DEVINE</a
    >. This Blog is a part of Passion Project for my final year of study.
  </p>
  <p>
    Check out my <a href="https://www.elu.sh" target="_blank">portfolio</a> for more
    projects.
  </p>
</Layout>
